import React, { FC } from 'react';

import { I{{properCase name}}Props } from 'components/{{properCase name}}/models.d';


const {{properCase name}}: FC<I{{properCase name}}Props> = () => {
  return (
    <div>{{properCase name}}</div>
  );
};

export default {{properCase name}};